body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

section {
    margin: 20px auto;
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #4CAF50;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}
